html, body {
  width: 100%;
  height: 100%;
}
#eva_ui_top_bar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: white;
  border-bottom: 2px solid #ccc;
  z-index: 1250;
  overflow: hidden;
}
#eva_ui_top_bar > .eva_ui_menu_item {
  width: 36px;
  padding: 7px;
  overflow: hidden;
}
#eva_ui_menu_container {
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 1200;
}
#eva_ui_menu {
  display: none;
  position: fixed;
  top: 40px;
  left: 0;
  width: 280;
  height: calc(100% - 40px);
  overflow: auto;
  background-color: #f9f9f9;
  border-right: 2px solid #ccc;
  z-index: 1220;
}
.eva_ui_menu_holder {
  position: relative;
  min-height: 100%;
  padding-bottom: 120px;
}
.eva_ui_menu_item {
  padding: 10px 15px;
  /*border-bottom: 1px solid #ccc;*/
  color: #999;
  font-size: 18px;
  cursor: pointer;
}
.eva_ui_menu_item:not(:disabled):hover,
.eva_ui_menu_item.active_menu {
  color: #1a1a1a;
}
.eva_ui_menu_item:not(:disabled):hover {
  background: #eee;
}
.eva_ui_menu_title {
  margin-left: 35px;
}
.eva_ui_menu_icon {
  width: 35px;
  height: 35px;
  float: left;
  margin-top: 1px;
  background-size: 22px 22px;
  background-repeat: no-repeat;
}
.eva_ui_top_bar_sysblock {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px 10px;
  color: #808080;
  font-size: 12px;
}
.eva_ui_logo_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.eva_ui_logo {
  background-image: url('images/eva_logo.png');
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  padding-top: 85px;
  text-align: center;
  background-position: center center;
  width: 120px;
  height: 110px;
  color: #808080;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 70px;
}
#eva_ui_hamb {
  margin: 0 20px 0 0;
  padding: 0;
  width: 46px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#eva_ui_hamb span {
  display: block;
  position: absolute;
  height: 4px;
  width: 30px;
  background: #808080;
  border-radius: 7px;
  opacity: 1;
  left: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#eva_ui_hamb span:nth-child(1) {
  top: 9px;
}

#eva_ui_hamb span:nth-child(2) {
  top: 17px;
}

#eva_ui_hamb span:nth-child(3) {
  top: 25px;
}

#eva_ui_hamb.open span:nth-child(1) {
  top: 17px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#eva_ui_hamb.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#eva_ui_hamb.open span:nth-child(3) {
  top: 17px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#eva_ui_anim {
  height: 100%;
  align-items: center;
  display: none;
}
.eva_ui_motd {
  font-size: 14px;
  font-style: italic
}
.eva_ui_slider_container {
  width: 270px;
  padding: 10px;
}
.eva_ui_slider {
  width: 250px;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.eva_ui_slider.slider_off {
  background-color: #d3d3d3;
}
.eva_ui_slider.slider_on {
  background-color: #ffd982;
}
.eva_ui_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.eva_ui_slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.eva_ui_slider_label {
  margin-top: 10px;
	font: 12px Arial;
  font-weight: 800;
	color: #b3b3b3;
}
.eva_ui_dialog_window_holder {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1001;
}
.eva_ui_dialog_window {
	display: flex;
	width: 100%;
	height: 100%;
}
.eva_ui_dialog_window #eva_ui_login_form {
	display: block;
	width: 100%;
	max-width: 370px;
	margin: auto;
	padding: 30px 20px;
	border: 4px solid #fff;
	border-radius: 3px;
	background: rgba(230, 230, 230, 0.5);
	background: linear-gradient(0.222turn, rgb(230, 230, 230) 0%, rgba(230, 230, 230, 0.5) 50%, rgba(230, 230, 230, 0.5) 100%)
}
#eva_ui_login_form > div {
	max-width: 224px;
	margin-left: auto;
	margin-right: auto;
}
.eva_ui_error_message {
	display: none;
	position: absolute;
	margin: -17px 2px 0;
	font: 14px Arial;
	color: #c1272d;
}
.eva_ui_input_form {
	margin: 20px 0 0;
}
.eva_ui_input_form input {
	height: 37px;
	margin-bottom: 10px;
	font: 14px Arial;
	color: #4d4d4d;
	border-radius: 2px;
}
.eva_ui_input_form input:focus {
	box-shadow: none;
}
.eva_ui_input_form input.error_key {
	border-color: #c1272d;
	border-width: 2px;
}
#eva_ui_login_form label {
	font: 14px Arial;
	color: #4d4d4d;
}
.eva_ui_custom_checkbox {
	margin-bottom: 8px;
}
.eva_ui_custom_checkbox input[type=checkbox] {
	opacity: 0;
	width: 16px;
	height: 16px;
}
.eva_ui_custom_checkbox input[type=checkbox] + label {
	position: absolute;
	margin: 2px 0 0 -16px;
	padding-left: 30px;
}
.eva_ui_custom_checkbox input[type=checkbox] + label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #000;
	border-radius: 2px;
	background: #fff;
}
.eva_ui_custom_checkbox input[type=checkbox]:checked + label::after {
	content: "";
	position: absolute;
	left: 3px;
	top: 4px;
	width: 10px;
	height: 6px;
	border: 2px solid #4d4d4d;
	transform: rotate(-45deg);
	border-radius: 0;
	border-top: none;
	border-right: none;
}
.btn {
	width: 100%;
	font: 18px Arial;
  font-weight: bold;
	border: none;
	color: #000;
	background-color: #009bac;
	background-image: linear-gradient(100deg, #ffb715, #fb9333);
	border-radius: 2px;
	box-shadow: none;
}
.btn:hover, .btn:focus {
	color: #000;
	background-image: linear-gradient(100deg, #f79200, #fa5f00);
	box-shadow: none;
}
.btn:active {
	background-image: linear-gradient(100deg, #f76100, #d04600);
	box-shadow: none;
}

.eva_ui_bg {
  width: 100%;
  min-height: 100%;
  padding-bottom: 20px;
  background: url('images/patt.gif') 0 0;
}
.eva_ui_bg.bg_sensors {
  position: relative;
  width: 100%;
  padding: 5px 25px 25px 25px;
  background: url('images/patt.gif') 0 0;
}
.eva_ui_content_holder {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  /*margin: auto;*/
}
.eva_ui_bar_holder {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.eva_ui_bar_holder.single_bar_holder {
	width: 760px;
	justify-content: start;
	padding-right: 15px;
}
.eva_ui_content_holder_sensors {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  background: #fafafa;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.eva_ui_cam_img {
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.3),
    rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3),
    rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3),
    rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3),
    rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;
  padding: 0px;
  margin: 0px;
}
.eva_ui_cam_holder_bg {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
}
.eva_ui_cam_preview {
  width: 315px;
  height: 200px;
}
.eva_ui_cam_preview_big {
  width: 750px;
  height: 468px;
}
.eva_ui_bar {
  margin-top: 50px;
  width: 320px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.eva_ui_bar:first-child {
  margin-top: 20px;
}
.eva_ui_camera_block {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.eva_ui_control_block {
  display: flex;
  width: 100%;
  margin-top: 7px;
  padding-top: 7px;
  border-top: 2px solid #ccc;
}
.eva_ui_control_block.first {
	padding-top: 0;
	border-top: none;
	margin-top: 34px;
}
.eva_ui_cbtn {
  position: relative;
  width: 75px;
  height: 75px;
  margin-right: 6px;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
  background-position: 50% 50%;
  background-size: 80%;
	background-repeat: no-repeat;
  transition: background-image 0.2s linear;
}
.eva_ui_cbtn:last-of-type {
  margin-right: 0;
}
.eva_ui_cbtn.menu::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 24px;
  background: url('btn/x_menu.svg') 0 0 no-repeat;
}
.eva_ui_cbtn.gear::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background: url('btn/x_macros.svg') 0 0 no-repeat;
}
.eva_ui_cbtn.busy::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 71px;
  width: 71px;
  background: url('btn/x_busy.svg') 50% 50%  no-repeat rgba(255, 255, 255, 0.3);
  background-size: 50px;
}
.eva_ui_cbtn:not(:disabled):hover {
  outline: none;
}
.eva_ui_cbtn:not(:disabled):focus,
.eva_ui_cbtn:not(:disabled):active {
  outline: none;
}
.eva_ui_cbtn .title {
	position: absolute;
	max-width: 70%;
	top: 0;
	right: 2px;
	font: 10px Arial;
  font-weight: 800;
	color: #b3b3b3;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.eva_ui_cbtn .value {
	position: absolute;
	max-width: 70%;
	bottom: 0;
	left: 2px;
	font: 12px Arial;
  font-weight: 800;
	color: #b3b3b3;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.single_bar_holder .eva_ui_cbtn {
  padding: 0;
  margin-top: 6px;
}
.single_bar_holder .eva_ui_cbtn:last-of-type {
  margin-right: 6px;
}
.eva_ui_chart {
  width: 320px;
  height: 100px;
}
.eva_ui_chart_title {
  padding-left: 30px;
  font-size: 14px;
  color: #808080;
}
.eva_ui_chart_value {
  height: 50px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 55px;
  color: #808080;
  }
.eva_ui_chart_value_units {
  position: absolute;
  right: 10px;
  margin-top: -10px;
  color: #808080;
}
.popover {
  z-index: 1000,
  opacity: 0;
  max-width: 440px;
  border: 2px solid #999;
  transform-origin: 50% 50%;
}
.bs-popover-bottom .arrow::before,
.bs-popover-auto[x-placement^=bottom] .arrow::before,
.bs-popover-bottom .arrow::before {
  border-bottom-color: #999;
}
.bs-popover-bottom .arrow::after,
.bs-popover-auto[x-placement^=bottom] .arrow::after,
.bs-popover-bottom .arrow::after {
  top: 3px;
}
.bs-popover-auto[x-placement^=left] .arrow::before,
.bs-popover-left .arrow::before {
  border-left-color: #999;
}
.bs-popover-auto[x-placement^=left] .arrow::after,
.bs-popover-left .arrow::after {
  right: 3px;
}
.bs-popover-top .arrow::before {
  border-top-color: #999;
}
.bs-popover-top .arrow::after {
  bottom: 3px;
}
.popover-body {
	padding: .5rem;
}
.popover .eva_ui_cbtn:not(:disabled):hover,
.popover .eva_ui_cbtn:not(:disabled):active {
  border-color: #ececec;
}
.bs-popover-top {
  position: absolute;
}
.bs-popover-bottom {
  position: absolute;
}
.bs-popover-left {
  position: absolute;
  transform-origin: 100% 50%;
}
.popover-body {
  height: 100%;
  overflow: hidden;
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-ms-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes move-up {
  from { top: 80px; }
  to { top: 0px;}
}
@-moz-keyframes move-up {
  from { top: 80px; }
  to { top: 0px; }
}
@-ms-keyframes move-up {
  from { top: 80px; }
  to { top: 0px; }
}
@-webkit-keyframes move-down {
  from { top: -80px; }
  to { top: 0px; }
}
@-moz-keyframes move-down {
  from { top:-80px; }
  to { top: 0px; }
}
@-ms-keyframes move-down {
  from { top: -80px; }
  to { top: 0px; }
}
@-webkit-keyframes move-left {
  from { left: 50px; }
  to { left: 0px; }
}
@-moz-keyframes move-left {
  from { left: 50px; }
  to { left: 0px; }
}
@-ms-keyframes move-left {
  from { left: 50px; }
  to { left: 0px; }
}
.eva_ui_data_block {
  border-top: 2px solid #ccc;
  margin-top: 7px;
  padding-top: 10px;
  order: 10;
}
.eva_ui_data_holder {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 10px 10px;
  background: #fff;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}
.eva_ui_data_holder > div {
  height: 32px;
  min-width: 75px;
  padding: 10px 0 0 32px;
  margin: 0 6px 6px 0;
  font: 15px Arial;
  color: #808080;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.eva_ui_sysblock {
  width: 100%;
  height: auto;
  margin: 10px 0 0;
  padding: 0 0 10px 0;
  font-size: 12px;
  color: #808080;
  text-align: center;
}
.eva_ui_links {
  color: #29ABE2;
  cursor: pointer;
}
.eva_ui_dialog_window_holder.evacc_setup {
  display: none;
  background: rgba(0,0,0,0.3);
}
.eva_ui_setup_form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
  transition: 0.4s;
  display: flex;
  flex-wrap: wrap;
	max-width: 420px;
	width: 100%;
	margin: auto;
	padding: 20px;
  background: #fff;
  font: 18px Arial;
  color: #000;
  text-align: center;
}
.eva_ui_close_btn {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
  cursor: pointer;
  background: url('images/cross.svg') 0 0 no-repeat;
}
.eva_ui_close_btn.secondary_page {
  right: 35px;
  top: 15px;
}
.eva_ui_andr_app {
  width: 100%;
  height: 70px;
  background: url('images/android_icon.svg') 50% 0 no-repeat;
}
.eva_ui_setup_form > span {
  margin: auto;
}
.eva_ui_app_link {
  display: block;
  width: 100%;
  font-weight: bold;
  color: #000;
}
.eva_ui_app_link:hover {
  color: #000;
}
.eva_ui_qr_install {
  width: 200px;
  height: 200px;
  margin: 34px auto;
}
.eva_ui_chart_item {
  margin-top: 20px;
  position: relative;
}

@media (max-width: 567px) {
  .eva_ui_bar_holder.single_bar_holder {
    max-width: 440px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .popover-body > span > .eva_ui_cbtn {
    margin-top: 3px;
    margin-top: 3px;
  }
  .eva_ui_cam_preview_big {
    width: 380px;
    height: 237px;
  }
  .eva_ui_camera_block {
      margin-top: 15px;
  }
  .container {
    width: 100%;
    max-width: 470px;
  }
  .single_bar_holder {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
  }
  .eva_ui_bar {
    width: 100%;
  }
  .eva_ui_bg.bg_sensors {
    padding: 5px 15px 20px 15px
  }
  .eva_ui_close_btn.secondary_page {
    top: 15px;
    right: 25px;
  }
  .eva_ui_content_holder {
    margin-top: -5px;
    width: 100%;
  }
  .eva_ui_content_holder.with_topbar {
    margin-top: 15px;
  }
  .eva_ui_content_holder.with_topbar.compact {
    margin-top: 40px;
  }
  .eva_ui_content_holder_sensors.with_topbar {
    margin-top: 45px;
  }
  .eva_ui_bar_holder {
    padding: 0 35px;
  }
  .mob_layout {
    width: 100%;
    padding: 0 35px;
  }
  .eva_ui_cam_preview {
    width: 100%;
    height: auto;
  }
  #eva_ui_top_bar > .eva_ui_menu_item {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .single_bar_holder {
    margin-top: 60px;
  }
  .eva_ui_cbtn:not(:disabled):hover {
    outline: none;
    background-color: #ececec;
    border-color: #ccc;
  }
  .eva_ui_content_holder {
    margin-top: -45px;
    width: 664px;
    /*justify-content: space-between;*/
  }
  .eva_ui_content_holder.with_topbar {
    margin-top: -15px;
  }
  .eva_ui_content_holder_sensors.with_topbar {
    margin-top: 45px;
  }
  .eva_ui_bar:first-child {
    margin-top: 50px;
  }
  .eva_ui_bar:nth-child(2n + 1) {
    width: 333px;
    margin-right: 11px;
    padding-right: 11px;
    border-right: 2px dashed #ccc;
  }
  /*.eva_ui_bar:nth-child(4) {
    margin-left: auto;
  }*/
  .eva_ui_bar:last-child {
    width: 320px !important;
    margin-right: auto !important;
    padding-right: 0 !important;
    border-right: none !important;
  }
  .eva_ui_chart_item:first-child {
    margin-top: 20px;
  }
  .eva_ui_menu_page {
    /*display: none;*/
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
  .eva_ui_content_holder {
    width: 990px;
  }
  .eva_ui_bar:nth-child(2n + 1) {
    width: 320px;
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
  .eva_ui_bar:nth-child(3n + 1),
  .eva_ui_bar:nth-child(3n + 2)  {
    width: 328px;
    margin-right: 6px;
    padding-right: 6px;
    border-right: 2px dashed #ccc;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1008px;
  }
  .eva_ui_content_holder {
    width: 1008px;
  }
  .eva_ui_bar:nth-child(3n + 1),
  .eva_ui_bar:nth-child(3n + 2) {
    width: 333px;
    margin-right: 11px;
    padding-right: 11px;
    border-right: 2px dashed #ccc;
  }
}
