<html>
  <head>
    <title>EVA ICS Home Control demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,
        user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/eva_sfa.css">
    <link rel="stylesheet" href="css/eva.toolbox.css">
    <link rel="stylesheet" href="apps/block_ui/lib/bootstrap.min.css">
    <link rel="stylesheet" href="apps/block_ui/themes/default/style.css?build=20190611">
    <link rel="stylesheet" href="apps/block_ui/themes/default/icons.css?build=20190611">
    <script type="text/javascript" src=".evahi/config.yml?as=js&var=evaHI"></script>
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/qrious.min.js"></script>
    <script type="text/javascript" src="lib/swipe.js"></script>
    <script type="text/javascript" src="apps/block_ui/lib/popper-1.14.3.min.js"></script>
    <script type="text/javascript" src="apps/block_ui/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/eva.min.js"></script>
    <script type="text/javascript" src="js/eva.toolbox.js"></script>
    <script type="text/javascript" src="apps/block_ui/ui.js?build=20190611"></script>
    <script type="text/javascript" src="config/index.yml?as=js&var=eva_ui_config"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        eva_ui_top_bar = function() {}
        eva_ui_init();
        eva_ui_start();
      });
    </script>
  </head>
</html>
