<html>
  <head>
    <title>Sensor charts - EVA ICS Home Control demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,
        user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src=".evahi/config.yml?as=js&var=evaHI"></script>
    <script type="text/javascript" src="config/sensors.yml?as=js&var=eva_hmi_config"></script>
    <script type="text/javascript" src="config/chart_options.js"></script>
    <script type="text/javascript" src="lib/eva.min.js"></script>
    <script type="text/javascript" src="apps/eva-hmi-block_ui/index.min.js"></script>
    <link rel="stylesheet" href="apps/eva-hmi-block_ui/themes/default/style.css">
    <link rel="stylesheet" href="apps/eva-hmi-block_ui/themes/default/icons.css">
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        eva_init_hmi();
        // enable framework debug
        $eva.debug = true;
        $eva.hmi.prepare_layout = function() {
          // modify configuration, e.g. for the specified user
          //console.log($eva.authorized_user);
          //console.log($eva.server_info.acl.key_id);
          if ($eva.authorized_user == 'kiosk') {
            $eva.hmi.top_bar = function(){};
          }
        }
        // uncomment to disable top bar
        // $eva.hmi.top_bar = function() {}
        $eva.hmi.start();
      });
    </script>
  </head>
</html>
